@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


html {
  
  background-color:#212529;
  
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card.outlineCards {

  border: 3px solid transparent !important;
  transition: border .3s ease-in-out;
  position: relative;
  overflow: hidden;

}

.card.outlineCards::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  transition: width .3s, height .3s;
}

.card.outlineCards:hover {
  border: 3px solid #0a58ca;
}

.card.outlineCards:hover::before {
  width: 100%;
  height: 100%;
}

.card-title.colorTitle {
  color: #0a58ca !important;
}

.coloredText{

  color: #0a58ca;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/*LINHA AZUL CRIADA EM BAIXO DO ELEMENTO COM A CLASSE*/
.link-hover::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #0a58ca;
  transition: width .3s;
  position: relative;
  bottom: 15px;
}

/*REVELAR A LINHA AZUL QUANDO DÁ HOVER NO ELEMENTO DA CLASSE*/
.link-hover:hover::after,
.link-hover.active::after {
  width: 100%;
}

/*DEFAULT SIZE DA FONTE*/
.icon-link {
  font-size: 3.5rem; /* Extra small devices */
}

@media (min-width: 576px) { /* Small devices*/
  .icon-link {
    font-size: 3rem;
  }
}

@media (min-width: 768px) { /* Medium devices*/
  .icon-link {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) { /* Large devices*/
  .icon-link {
    font-size: 2rem;
  }
  
}

@media (min-width: 1200px) { /* Extra large devices*/
  .icon-link {
    font-size: 2rem;
  }
}

@media (min-width: 1650px) { /* Extra large devices (large desktops, 1200px and up) */
  #bigvh{
    height: 100vh;
  }
}