@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: "Outfit", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card.outlineCards {

  border: 3px solid #0a58ca !important;

}

.card-title.colorTitle {
  color: #0a58ca !important;
}

.coloredText{

  color: #0a58ca;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.link-hover::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #0a58ca;
  transition: width .3s;
  position: relative;
  bottom: 15px;
}

.link-hover:hover::after,
.link-hover.active::after {
  width: 100%;
}

.icon-link {
  font-size: 3rem; /* Default size for extra small devices */
}

@media (min-width: 576px) { /* Small devices (landscape phones, 576px and up) */
  .icon-link {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) { /* Medium devices (tablets, 768px and up) */
  .icon-link {
    font-size: 4rem;
  }
}

@media (min-width: 992px) { /* Large devices (desktops, 992px and up) */
  .icon-link {
    font-size: 4.5rem;
  }
}

@media (min-width: 1200px) { /* Extra large devices (large desktops, 1200px and up) */
  .icon-link {
    font-size: 5rem;
  }
}